@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Fascinate&family=Fascinate+Inline&family=Limelight&family=Roboto&family=Rowdies&display=swap");

body {
  margin: 0;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hidden {
  display: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

#burger,
#close-menu {
  display: none;
}

h2 {
  font-family: "Chewy", cursive;
  font-size: 2.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

button {
  padding: 1rem;
  border: none;
  outline: none;
  background: #68e1fd;
  border-radius: 5px;
}

nav a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Chewy", cursive;
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
}
header {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  height: 90vh;
  align-items: center;
}

.header_graphics {
  background-image: url("./assets/girl-swimming.png");
  background-repeat: no-repeat;
  background-size: 130%;
  background-position: center;
  height: 60vh;
  width: 60vw;
}
#advantages {
  margin-left: 5%;
  margin-right: 5%;
}

.advantages_cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.advantages_card {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  box-shadow: 4px 4px 3px #cccccc;
  border-radius: 5px;
  padding: 1.5rem;
}

.advantages_card img {
  align-self: center;
}

#product {
  height: 90vh;
  padding-top: 10vh;
  margin-left: 10%;
  margin-right: 10%;
}

#product-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  box-shadow: 4px 4px 3px #cccccc;
  border-radius: 20px;
  padding: 1.5rem;
}

.highlight {
  height: 70vh;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #f2f2f2;
  margin-top: 10%;
  margin-bottom: 10%;
}

.highlight h2 {
  padding-top: 3rem;
  width: 40ch;
}

.highlight_small_cards {
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
}
.highlight_small_cards div {
  background-color: white;
  box-shadow: 4px 4px 3px #cccccc;
  border-radius: 5px;
  padding: 1.5rem;
  padding-top: 0;
  padding-bottom: 0;
}

.highlight button {
  margin-top: 4rem;
  margin-left: 43%;
}

#team {
  height: 100vh;
  padding-left: 10%;
  padding-right: 10%;
}

#team-grid {
  display: flex;
  justify-content: space-around;
}

#team-grid article {
  background-color: #f2f2f2;
  box-shadow: 4px 4px 3px #cccccc;
  border-radius: 20px;
  padding: 1.5rem;
}

.team_text ul {
  list-style: none;
}

#contact {
  height: 60vh;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #f2f2f2;
  padding-top: 6%;
  margin-bottom: 10%;
}

#contact h2 {
  margin-bottom: 1rem;
}

#contact_form div {
  margin: 1rem;
}

footer {
  background-color: #a1eeff;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
}

footer ul {
  list-style: none;
}

footer a {
  text-decoration: none;
  color: black;
}

footer section {
  display: flex;
  gap: 3rem;
  align-items: center;
}

@media screen and (max-width: 800px) {
  body {
    width: 100vw;
  }

  #header-nav {
    display: none;
  }
  #burger {
    display: block;
  }

  header {
    flex-direction: column-reverse;
    margin-bottom: 3rem;
  }

  .header_text h1 {
    margin-top: 0;
  }

  header button {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }

  #product {
    height: max-content;
    margin-bottom: 8rem;
  }

  #product-grid {
    flex-direction: column;
  }

  .highlight h2 {
    width: fit-content;
  }

  .highlight_small_cards {
      gap: 2rem;
  }
  .highlight button {
      margin-left: 23%;
    font-size: 1.4rem;
  }

  #team {
      height: max-content;
  }

  #team-grid {
      flex-direction: column;
      gap: 3rem;
      margin-left: 10%;
      margin-bottom: 5rem;
  }
  #team-grid article {
      width: max-content;
  }
}
